<div class="container">
  <mat-toolbar>
    <!-- app-toolbar -->
    <a mat-button routerLink="/home">
      SCADA
    </a>
    <a mat-button>
      item-1
    </a>
    <a mat-button>
      item-2
    </a>
    <!-- /app-toolbar -->
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <!-- app-sidenav -->
      <a mat-button routerLink="/home">
        Home
      </a>
      <a mat-button routerLink="/info">
        Info
      </a>
      <a mat-button routerLink="/devices">
        Devices
      </a>
      <!-- /app-sidenav -->
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
<div>
